.menucontainer{
    height: 80px;
    background-color: #072A56;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
    border-top: 1px solid #072A56;
    border-bottom: 1px solid #072A56;
    display: flex;
    flex-direction: row;
}

.logoimg{
    height: 100%;
    width: auto;
}

.itemcontainer{
    width: 180px;
    text-align: center;
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: white;
    font-size: 1.2rem;
}

/* .itemcontainer2{
    width: 120px;
    text-align: center;
    padding: 100px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: black;
    font-size: 1.2rem;
} */
